<ion-header>
  <ion-toolbar>
    <ion-title>Checkbox Example</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Option 1</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="options.option1"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Option 2</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="options.option2"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Option 3</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="options.option3"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="submit()">Submit</ion-button>

  <ion-item *ngIf="selectedOptions.length > 0">
    <ion-label>Selected Options:</ion-label>
    <ion-text>{{ selectedOptions.join(', ') }}</ion-text>
  </ion-item>
</ion-content>
